/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */

body {
  margin: 0;
  max-width: 100vw;
  font-family: 'Outfit' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.animatedBox {
  height: 30vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(58, 255, 176, 0.13);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation-name: bchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.animatedBox2 {
  height: 30vw;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(58, 255, 176, 0.13);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation-name: bchange;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes bchange {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 567px) {
  .animatedBox,
  .animatedBox2 {
    height: 80vw;

    width: 80vw;
  }
}

.avatar-wrapper {
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &:hover .profile-pic {
    opacity: 0.5;
  }
  .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    &:after {
      font-family: FontAwesome;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
    }
  }
  .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .fa-arrow-circle-up {
      position: absolute;
      font-size: 234px;
      top: -17px;
      left: 0;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease;
      color: #34495e;
    }
    &:hover .fa-arrow-circle-up {
      opacity: 0.9;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}
